
@font-face {
    font-style: medium;
  font-weight: 400;
  font-display: swap;
  font-family: "SourceSansPro-Regular";
  src: local("SourceSansPro-Regular");
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff");
  src: url("../fonts/SourceSansPro-Regular.ttf") format("ttf");
}

@font-face {
    font-style: medium;
  font-weight: 400;
  font-display: swap;
  font-family: "CrimsonText-Regular";
  src: local("CrimsonText-Regular");
  src: url("../fonts/CrimsonText-Regular.woff2") format("woff2");
  src: url("../fonts/CrimsonText-Regular.woff") format("woff");
  src: url("../fonts/CrimsonText-Regular.ttf") format("ttf");
}

::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #5D50C6;
}

::-webkit-scrollbar-thumb:active {
    background-color: #5D50C6;
    border: 0.1rem solid #5D50C6;
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #5D50C6;
}


img {
    width: 100%;
}

.arrow {
    width: 0.9rem;
    height: 0.9rem;
}

body {
    font-weight: 400;
    color: #1D1A17;
}

h1 {
    font-size: 1.57rem;
    line-height: 114%;
    color: #1D1A17;
}

h3 {
    font-size: 0.61rem;
    line-height: 145%;
    text-transform: uppercase;
    color: #1d1a17;
    display: inline;
}

h4 {
    font-size: 0.78rem;
    line-height: 114%;
    text-transform: uppercase;
    display: inline;
}

h2 {
    font-size: 1.57rem;
    line-height: 114%;
    color: #1D1A17;
}

.txt {
    font: 400 1.11rem/1.6 CrimsonText-Regular;
}

.read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
}

.read-more__txt {
    font: 400 1.11rem/1.2 CrimsonText-Regular;
}

button:not(.read-more) {
    font: 400 1rem/1.11 CrimsonText-Regular;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 1.33rem;
    color: #fff;
    background: #968676;
    gap: 1.11rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

li {
    position: relative;
}

li a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.2rem;
    color: #1D1A17;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

li a:hover {
    color: #1D1A17;
    border-bottom: 1px solid #1D1A17;
}

li a:after {
    content: "";
    position: absolute;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 2rem;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 66.67rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post {
    display: grid;
    max-width: 19.83rem;
    position: relative;
    gap: 1.8rem;
}

.post__title {
    padding: 1rem 1.5rem;
    width: 8.9rem;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    background: #968676;
    position: absolute;
    top: -2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.post__second-title {
    padding-bottom: 1.5rem;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 26.67rem;
    padding: 1.8rem;
    padding-top: 3rem;
    gap: 1.2rem;
}

.card__title {
    padding-bottom: 2rem;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1.33rem;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 9rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 23%;
    padding-bottom: 1.5rem;
}

.main-block__container {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-block__primary-img-container {
    position: absolute;
    z-index: 1;
    top: -0.67rem;
}

.main-block__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-block__decor {
    border-radius: 1.67rem;
    width: 1.67rem;
    height: 1.67rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    background: #ed684b;
    position: absolute;
    top: -0.6rem;
    right: -0.8rem;
    z-index: 2;
}

.main-block__primary-img {
    height: 28rem;
}

.main-block__secondary-img {
    height: 30.28rem;
}

.blog__card {
    position: absolute;
    background: #fff;
}

.blog__main-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 5.9rem;
}

.blog__title {
    padding: 5rem 0;
}

.blog__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    row-gap: 3.8rem;
}

.blog__post:nth-child(1) .post__title {
    background: #D2B178;
}

.blog__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.33rem;
    padding-top: 8.8rem;
}

.blog__decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.67rem;
}

.blog__decor-item {
    width: 0.44rem;
    height: 0.44rem;
    background: #dedbd7;
}

.longread__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 4rem 1.8rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.longread__card {
    padding-right: 0;
    max-width: 25.5rem;
    background: #DEDBD7;
}

.longread__title {
    max-width: 13.9rem;
    margin-right: 1rem;
}

.video {
    background: #d2b178;
}

.video .video__button {
    border-radius: 1.78rem;
    background: #d2b178;
    position: absolute;
}

.video .video__to-videos {
    padding: 0;
    background: transparent;
    font-family: CrimsonText-Regular;
    color: #1D1A17;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0.9rem 2rem 0;
}

.video__img {
    padding: 0 2rem;
}

.video__container {
    padding: 4rem 0;
    gap: 2rem;
    margin-bottom: 2.67rem;
}

.video__img-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video__sub-title {
    font-size: 0.78rem;
    line-height: 229%;
    text-transform: uppercase;
    color: #fff;
}

.video__button-img {
    width: 0.89rem;
    height: 0.89rem;
}

.map__container {
    position: relative;
    padding: 0;
}

.map__img {
    width: 100%;
    height: 25.83rem;
}

.map__descr {
    position: absolute;
    bottom: 21%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.map__title {
    font-size: 1.44rem;
    line-height: 123%;
}

.map__txt {
    font-size: 1.4rem;
    line-height: 128%;
    padding-bottom: 2rem;
}

.footer {
    padding: 8rem 0 4.33rem;
    background: #DEDBD7;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.33rem;
}

.footer__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2rem;
    row-gap: 1.33rem;
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.11rem;
}

.footer__social {
    width: 1.11rem;
    height: 1.11rem;
}

.footer__logo {
    width: 6.22rem;
    height: 2rem;
}

.footer__full-logo {
    width: 6.61rem;
    height: 6.22rem;
}

.footer__menu {
    display: grid;
    width: 100%;
    margin: 0 1.11rem;
}

.menu__list {
    justify-self: end;
}

@media screen and (max-width: 62rem) {
    .footer__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .blog__posts {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 62rem) {
    .menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 47.9rem) {
    .menu__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__menu {
        margin: 0;
    }

    .blog__card {
        position: static;
    }

    .blog__main-post {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 30rem) {
    .menu__list {
        padding: 1rem 0;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}